* {
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
}

.body{
    margin: 0;
    padding: 0;
}
#container{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.recipe {
    border-style: groove;
    margin: 5px;
    padding: 5px;
    text-align: center;
    padding-bottom: 20px;
}

img{
    width: 200px;
    height: 200px;
}

li{
    text-align: left;
}

#instruction{
    text-align: left;
    margin: inherit;
}